--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers==4.44.2
pandas
arq==0.26.1
redis==5.0.8
mlflow-skinny==2.16.2
boto3==1.35.24
grpcio<2.0.0,>=1.63.2
protobuf<6,>=5.29.0
googleapis-common-protos<1.67
opentelemetry-api~=1.24
opentelemetry-sdk~=1.24
opentelemetry-exporter-otlp-proto-grpc~=1.24
